* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
img {
  position: absolute;
  width: 100%;
}
.main {
  width: 400px;
  height: 600px;
  background-color: #323234;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.container {
  width: 300px;
  height: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #323234;
}

.screen {
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: #fff 0px 3px 12px;
  margin-bottom: 30px;
}
.row-1 {
  display: flex;
  flex-direction: row;
}
.row-2 {
  display: flex;
  flex-direction: row;
}
.row-3 {
  display: flex;
  flex-direction: row;
}
.row-4 {
  display: flex;
  flex-direction: row;
}
.row-5 {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.seat {
  width: 25px;
  height: 25px;
  background-color: #34495e;
  border-radius: 5px;
  margin: 4px;
}

.fullSeat {
  width: 25px;
  background-color: #fff;
  height: 25px;
  margin: 4px;
  border-radius: 5px;
}

.seat:nth-child(2) {
  margin-right: 20px;
}

.seat:nth-child(6) {
  margin-right: 20px;
}

.movieList {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

select {
  width: 80px;
}

.infoArea {
  width: 320px;
  height: 30px;
  background-color: #535c68;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  margin-bottom: 25px;
}

.selectedSeat {
  width: 25px;
  height: 25px;
  background-color: rgb(246, 235, 111);
  border-radius: 5px;
  margin: 4px;
}

.selectedSeat:nth-child(2) {
  margin-right: 20px;
}

.selectedSeat:nth-child(6) {
  margin-right: 20px;
}

#selectedSeatIcon {
  background-color: rgb(246, 235, 111);
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 4px;
}


.seatInfo {
  background-color: #34495e;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 4px;
}

.fullSeatInfo {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 4px;
}

.buttonAndP {
  display: flex;
  flex-direction: row;
}

small {
  padding: 6px;
  font-size: 14px;
}

.seat:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.totalArea {
  width: 360px;
  height: 30px;
  font-size: 21px;
  color: rgb(216, 216, 216);
}

.totalSelectedSeats {
  color: rgb(246, 235, 111);
}

.totalPrice {
  color: rgb(246, 235, 111);
}

div > .selectedSeat:hover {
  transform: scale(1.1);
}
